<h4>Carousel</h4>
<div id="carouselEjemplo" class="carousel slide" data-bs-ride="carousel" >


   <div class="carousel-inner"> 
    <div class="carousel-item active">
        <img src="https://hips.hearstapps.com/hmg-prod/images/porsche-911-gt3-rs-2023-7-1660750404.jpg?crop=0.889xw:0.888xh;0.0586xw,0.0595xh&resize=980:*"class="d-block w-100"/>
        </div>
        <div class="carousel-item">
        <img src="https://besthqwallpapers.com/Uploads/3-9-2018/64353/f82-bmw-m4-2018-black-sports-coupe-tuning-m4.jpg"class="d-block w-100"/>
        </div>
        <div class="carousel-item">
        <img src="https://img.remediosdigitales.com/9deb31/audi-rs7-sportback-2020_/1366_2000.jpg"class="d-block w-100"/>
        </div>
    </div>

 <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselEjemplo" data-bs-slide-to="2"></button>
 </div>
    <button class="carousel-control-prev" type="button"data-bs-target="#carouselEjemplo"data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button> 

     <button class="carousel-control-next" type="button"data-bs-target="#carouselEjemplo"data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button> 


</div>