
<h4>Ejemplo 1: Imagenes en columnas</h4>

<div class="row  gy-3 ">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.pinimg.com/originals/6f/e8/b1/6fe8b18d4ad105fcdc4b7c7a2f124926.png"/>
    </div>
    <div class= "col-sm-3">
        <img class="img-fluid" src="https://i.pinimg.com/originals/6f/e8/b1/6fe8b18d4ad105fcdc4b7c7a2f124926.png"/>
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.pinimg.com/originals/6f/e8/b1/6fe8b18d4ad105fcdc4b7c7a2f124926.png"/>
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.pinimg.com/originals/6f/e8/b1/6fe8b18d4ad105fcdc4b7c7a2f124926.png"/>
    </div>
</div>

<h4>Ejemplo 2: Imagen tipo thumbnail</h4>
<img class="img- thumbnail rounded-circle" 
src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ihoGiH4cKF_8RkPttJqxvweldKHlhh3runutJifhhQ&s"/>
