<h4>Tablas</h4>
<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Felipe</td>
            <td>Gavilan</td>
        </tr>
        <tr class="table-success">
            <td>2</td>
            <td>Claudia</td>
            <td>Rodriguez</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Roberto Gonzalez</td>
        </tr>
    </tbody>
</table>

<div>
   <h2>Sin ratio: </h2> 
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BKLVpDTZOPQ?si=n7Tl2skYRgKVYeTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<div>
    <h2>Con ratio de 16x9 </h2>
</div>

<div class="ratio ratio-16x9">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/BKLVpDTZOPQ?si=n7Tl2skYRgKVYeTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<hr>

<div class="row gy-4">
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BKLVpDTZOPQ?si=n7Tl2skYRgKVYeTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
   
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BKLVpDTZOPQ?si=n7Tl2skYRgKVYeTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BKLVpDTZOPQ?si=n7Tl2skYRgKVYeTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>